<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>db</title>
</head>
<body>
    <h1 style="text-align: center;">Database</h1>
    <!--<%= //locals.name %> -->
    <%=// name[0].s_name %> 
    <% for (let i = 0; i < name.length; i++) {%>
        <p style="text-align: center;"><%= name[i].s_name %> </p>
        <br>
   <% } %> 
</body>
</html>